.img_nav{
    display: flex;
    justify-content: space-around;
    width:50%;
    margin:50px auto;
    border-radius:50%;
    position: relative;
    

}

img{
    height:40px;
    width:20px;
}
.img_sub{   
    width:45px;
    filter: grayscale(1);
    border:1px solid #4caf50;
    height:40px;
    padding:8px;
    border-radius: 50%;
    background-color: white;
 
}

.img_sub:hover{
    filter: grayscale(0);
    border-radius:50%;
    border: 1px solid #4caf50;
    
}
.img1,.img2,.img3,.img4{
    width: fit-content;
    height:70px;
    
}
.dotted_border{
    border: 2px dotted grey;
    position: absolute;
    width: 75%;
    top: 25%;
    z-index: -1;
}
@media only screen and (max-width: 768px){ 
    .img_nav{
        width: 92% !important;
    }
    
}